#factsSection {
    position:relative;
    padding-top: 70px;
    padding-bottom: 70px;
    background: rgba(0, 0, 0, 0) url("../../images/bg-04.jpg") repeat scroll 50% 61px;
}
#factsSection.section {
    position: relative;
    background-position: 50% 0;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.parallax-section{
    background-position: 50% 0;
    background-attachment: fixed !important;
    background-repeat: no-repeat;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}
#factsSection .section-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: url("../../images/overlays/03.png") repeat rgba(0,0,0,.7);
}

#factsSection .facts{z-index:99}
#factsSection .facts li {
    padding: 18px 0 !important;
    margin: 0 12px !important;
    font-size:18px !important;
    display: inline-block !important;   
    width: 200px !important;
    text-align: center;color:#d4d4d4;
}
#factsSection .facts li strong {
    font-size: 60px;color:#ffffff;display: block;line-height: 64px;
}