#contentSection.leadership-content {margin-bottom:30px;}
#contentSection.leadership-content .leadership-imgblock {min-height: 490px;}
#contentSection.leadership-content .leadership-block {padding:30px;}
#contentSection.leadership-content .leadership-block h3 {font-size: 20px;text-transform: uppercase;font-weight: 600;letter-spacing: 1px;margin-bottom:1px;color:#ec6416;}
#contentSection.leadership-content .leadership-block h5 {font-size:12px;text-transform: uppercase;font-weight: 600;letter-spacing: 1px;margin-bottom:10px;color:#9a9a9a;}
#contentSection.leadership-content .leadership-block p {font-size: 16px;margin-bottom:8px;}