/**
 * Table Of Content
 *  1. For all pages
 *  2. Headings
 *  3. Blockquote
 *  4. Paddings
 *  5. Margin
 *  6. vertical alignment
 *  7. Opacity
 *  8. font weight
 *  9. Border
 *  10. Thumb size
 *  11. Text Colors
 *  12. Background Colors
 *  13. Rounds
 */
@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c:100,300,400,500,700,800,900");
/*@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i");*/
/******************* 
Global Styles 
*******************/
@import url(../scss/icons/font-awesome/css/font-awesome.min.css);
@import url(../scss/icons/simple-line-icons/css/simple-line-icons.css);
@import url(../scss/icons/weather-icons/css/weather-icons.min.css);
@import url(../scss/icons/iconmind/iconmind.css);
@import url(../scss/icons/themify-icons/themify-icons.css);
@import url(../scss/icons/flag-icon-css/flag-icon.min.css);
@import url(../scss/icons/material-design-iconic-font/css/materialdesignicons.min.css);
@import url(../css/spinners.css);
@import url(../css/animate.css);
/******************* 
User Custom Styles 
*******************/
/*@import url(../css/customStyle.css);*/

/*============================================================== 
 For all pages 
 ============================================================== */
body,html{background:#fff}*{outline:0}
/*body{font-family:'Montserrat',sans-serif;margin:0;overflow-x:hidden;color:#67757c;font-weight:300;font-size:14px}*/
body{font-family:'Montserrat',sans-serif;margin:0;overflow-x:hidden;color:#67757c;font-weight:300;font-size:14px}
/*body{font-family:'Open Sans',sans-serif;margin:0;overflow-x:hidden;color:#67757c;font-weight:300;font-size:14px}*/
html{position:relative;min-height:100%;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
a{color:#ed6a15}a:focus,a:hover{text-decoration:none}
a.link{color:#455a64}a.link:focus,a.link:hover{color:#20aee3}
.img-responsive{width:100%;height:auto;display:inline-block}
.img-rounded{border-radius:4px}html body .mdi-set,html body .mdi:before{line-height:initial}
p{font-family:'Montserrat',sans-serif;}
/*******************
Headings
*******************/
h1,h2,h3,h4,h5,h6{color:#455a64;font-family:Montserrat,sans-serif;font-weight:400}h5,h6{font-weight:400}
h1{line-height:40px;font-size:36px}h2{line-height:36px;font-size:24px}h3{line-height:30px;font-size:21px}h4{line-height:22px;font-size:18px}
h5{line-height:18px;font-size:16px}h6{line-height:16px;font-size:14px}.display-5{font-size:3rem}.display-6{font-size:36px}
.box{border-radius:4px;padding:10px}html body .dl{display:inline-block}html body .db{display:block}.no-wrap td,.no-wrap th{white-space:nowrap}

/*******************
Blockquote
*******************/
html body blockquote {border-left: 5px solid #20aee3;border: 1px solid rgba(120, 130, 140, 0.13);padding: 15px; }
.clear {clear: both; } ol li {margin: 5px 0; }

/*******************
Paddings
*******************/
html body .p-0 {padding: 0px; }html body .p-5 {padding: 5px; }html body .p-10 {padding: 10px; }html body .p-15 {padding: 15px; }html body .p-20 {padding: 20px; }
html body .p-25 {padding: 25px; }html body .p-30 {padding: 30px; }html body .p-35 {padding: 35px; }html body .p-40 {padding: 40px; }html body .p-45 {padding: 45px; }
html body .p-50 {padding: 50px; }

html body .p-l-0 {padding-left: 0px; }html body .p-l-5 {padding-left: 5px; }html body .p-l-10 {padding-left: 10px; }html body .p-l-15 {padding-left: 15px; }
html body .p-l-20 {padding-left: 20px; }html body .p-l-25 {padding-left: 25px; }html body .p-l-30 {padding-left: 30px; }html body .p-l-35 {padding-left: 35px; }
html body .p-l-40 {padding-left: 40px; }html body .p-l-45 {padding-left: 45px; }html body .p-l-50 {padding-left: 50px; }

html body .p-r-0 {padding-right: 0px; }html body .p-r-5 {padding-right: 5px; }html body .p-r-10 {padding-right: 10px; }html body .p-r-15 {padding-right: 15px; }
html body .p-r-20 {padding-right: 20px; }html body .p-r-25 {padding-right: 25px; }html body .p-r-30 {padding-right: 30px; }html body .p-r-35 {padding-right: 35px; }
html body .p-r-40 {padding-right: 40px; }html body .p-r-45 {padding-right: 45px; }html body .p-r-50 {padding-right: 50px; }

html body .p-t-0 {padding-top: 0px; }html body .p-t-5 {padding-top: 5px; }html body .p-t-10 {padding-top: 10px; }html body .p-t-15 {padding-top: 15px; }
html body .p-t-20 {padding-top: 20px; }html body .p-t-25 {padding-top: 25px; }html body .p-t-30 {padding-top: 30px; }html body .p-t-35 {padding-top: 35px; }
html body .p-t-40 {padding-top: 40px; }html body .p-t-45 {padding-top: 45px; }html body .p-t-50 {padding-top: 50px; }

html body .p-b-0 {padding-bottom: 0px; }html body .p-b-5 {padding-bottom: 5px; }html body .p-b-10 {padding-bottom: 10px; }html body .p-b-15 {padding-bottom: 15px; }
html body .p-b-20 {padding-bottom: 20px; }html body .p-b-25 {padding-bottom: 25px; }html body .p-b-30 {padding-bottom: 30px; }html body .p-b-35 {padding-bottom: 35px; }
html body .p-b-40 {padding-bottom: 40px; }html body .p-b-45 {padding-bottom: 45px; }html body .p-b-50 {padding-bottom: 50px; }

/*******************
Margin
*******************/
html body .m-0 {margin: 0px; }html body .m-l-5 {margin-left: 5px; }html body .m-l-10 {margin-left: 10px; }html body .m-l-15 {margin-left: 15px; }
html body .m-l-20 {margin-left: 20px; }html body .m-l-30 {margin-left: 30px; }html body .m-l-40 {margin-left: 40px; }
html body .m-r-5 {margin-right: 5px; }html body .m-r-10 {margin-right: 10px; }html body .m-r-15 {margin-right: 15px; }
html body .m-r-20 {margin-right: 20px; }html body .m-r-30 {margin-right: 30px; }html body .m-r-40 {margin-right: 40px; }
html body .m-t-0 { margin-top: 0px; }html body .m-t-5 {margin-top: 5px; }html body .m-t-10 {margin-top: 10px; }
html body .m-t-15 {margin-top: 15px; }html body .m-t-20 {margin-top: 20px; }html body .m-t-30 {margin-top: 30px; }
html body .m-t-40 {margin-top: 40px; }html body .m-b-0 {margin-bottom: 0px; }html body .m-b-5 {margin-bottom: 5px; }
html body .m-b-10 {margin-bottom: 10px; }html body .m-b-15 {margin-bottom: 15px; }html body .m-b-20 {margin-bottom: 20px; }
html body .m-b-30 {margin-bottom: 30px; }html body .m-b-40 {margin-bottom: 40px; }

/*******************
vertical alignment
*******************/
html body .vt {vertical-align: top; }html body .vm {vertical-align: middle; }html body .vb {vertical-align: bottom; }

/*******************
Opacity
*******************/
.op-5 {opacity: 0.5; }.op-3 {opacity: 0.3; }

/*******************
font weight
*******************/
html body .font-bold {font-weight: 700; }html body .font-normal {font-weight: normal; }html body .font-light {font-weight: 300; }
html body .font-medium {font-weight: 500; }html body .font-16 {font-size: 16px; }html body .font-12 {font-size: 12px; }
html body .font-14 {font-size: 14px; }html body .font-10 {font-size: 10px; }html body .font-18 {font-size: 18px; }html body .font-20 {font-size: 20px; }

/*******************
Border
*******************/
html body .b-0{border:none!important}html body .b-r{border-right:1px solid rgba(120,130,140,.13)}html body .b-l{border-left:1px solid rgba(120,130,140,.13)}
html body .b-b{border-bottom:1px solid rgba(120,130,140,.13)}html body .b-t{border-top:1px solid rgba(120,130,140,.13)}html body .b-all{border:1px solid rgba(120,130,140,.13)!important}

/*******************
Thumb size
*******************/
.thumb-sm{height:32px;width:32px}.thumb-md{height:48px;width:48px}.thumb-lg{height:88px;width:88px}
.hide{display:none}.img-circle{border-radius:100%}.radius{border-radius:4px}

/*******************
Text Colors
*******************/
.text-white{color:#fff!important}.text-danger{color:#ff0019!important}.text-muted{color:#bcc3d3!important}.text-warning{color:#ff9041!important}
.text-success{color:#24d2b5!important}.text-info{color:#20aee3!important}.text-inverse{color:#2f3d4a!important}html body .text-blue{color:#02bec9}
.text-yellowshade{color:#FFEB3B;}.text-rellbullshade{color:#C70039;}.text-lightwhiteshade{color:#F1F1F1;}.text-pinkshade{color: #EC407A}
.text-blueshade{color:#1E88E5;}.text-blackbrrey{color: #3B3B3B}.text-lightblueshade{color: #29B6F6}.text-cyanshade{color: #26C6DA}
.text-deepblueshade{color: #673AB7}.text-limeshade{color: #D4E157}.text-orangeshade{color: #FFC107}.text-gitplNavbar{color: #2e3138;}
.text-tealshade{color: #26A69A}.text-indgoshade{color: #154B5B}.text-gitplshade{color: #FF6C3A}.text-gitplNavbar{color: #2e3138;}
html body .text-purple{color:#7460ee}html body .text-primary{color:#6772e5!important}html body .text-megna{color:#56c0d8}html body .text-dark{color:#67757c}
html body .text-themecolor{color:#20aee3}.text-facebook{color:#3B5998}.text-twitter{color:#1DA1F2}.text-googleplus{color:#dd4b39;}.text-linkedin{color:#0077B5;}

/*******************
Background Colors
*******************/
.bg-primary{background-color:#6772e5!important}.bg-success{background-color:#24d2b5!important}.bg-info{background-color:#20aee3!important}
.bg-warning{background-color:#ff9041!important}.bg-danger{background-color:#ff5c6c!important}.bg-yellowshade{background-color:#FFEB3B;}
.bg-rellbullshade{background-color:#C70039;}.bg-lightwhiteshade{background-color:#F1F1F1;}.bg-blueshade{background-color:#1E88E5;}
.bg-blackbrrey{background-color: #3B3B3B}.bg-pinkshade{background-color: #EC407A}.bg-deepblueshade{background-color: #673AB7}
.bg-lightblueshade{background-color: #29B6F6}.bg-cyanshade{background-color: #26C6DA}.bg-tealshade{background-color: #26A69A}
.bg-limeshade{background-color: #D4E157}.bg-orangeshade{background-color: #FFC107}.bg-indgoshade{background-color: #154B5B}
.bg-gitplshade{background-color: #FF6C3A}.bg-gitplNavbar{background-color: #2e3138;}
html body .bg-megna{background-color:#56c0d8}html body .bg-theme{background-color:#20aee3}html body .bg-inverse{background-color:#2f3d4a}
html body .bg-purple{background-color:#7460ee}html body .bg-light-part{background-color:rgba(0,0,0,.02)}html body .bg-light-primary{background-color:#f1effd}
html body .bg-light-success{background-color:#e8fdeb}html body .bg-light-info{background-color:#cfecfe}html body .bg-light-extra{background-color:#ebf3f5}
html body .bg-light-warning{background-color:#fff8ec}html body .bg-light-danger{background-color:#f9e7eb}html body .bg-light-inverse{background-color:#f6f6f6}
html body .bg-light{background-color:#e9edf2}html body .bg-white{background-color:#fff}

/*******************
Rounds
*******************/
.round,.round img{border-radius:100%}.round,.round.round-info{background:#20aee3}
.round{line-height:48px;color:#fff;width:50px;height:50px;display:inline-block;font-weight:400;text-align:center}
.round-lg{line-height:65px;width:60px;height:60px;font-size:30px}.round.round-warning{background:#ff9041}.round.round-danger{background:#ff5c6c}
.round.round-success{background:#24d2b5}.round.round-primary{background:#6772e5}

/*******************
Labels
*******************/
.label{padding:3px 10px;line-height:13px;color:#fff;font-weight:400;border-radius:4px;font-size:75%}
.label-rounded{border-radius:60px}.label-custom{background-color:#56c0d8}.label-success{background-color:#24d2b5}.label-info{background-color:#20aee3}
.label-warning{background-color:#ff9041}.label-danger{background-color:#ff5c6c}.label-megna{background-color:#56c0d8}.label-primary{background-color:#6772e5}
.label-purple{background-color:#7460ee}.label-red{background-color:#fb3a3a}.label-inverse{background-color:#2f3d4a}.label-default{background-color:#e9edf2}
.label-white{background-color:#fff}.label-light-success{background-color:#e8fdeb;color:#24d2b5}.label-light-info{background-color:#cfecfe;color:#20aee3}
.label-light-warning{background-color:#fff8ec;color:#ff9041}.label-light-danger{background-color:#f9e7eb;color:#ff5c6c}.label-light-megna{background-color:#e0f2f4;color:#56c0d8}
.label-light-primary{background-color:#f1effd;color:#6772e5}.label-light-inverse{background-color:#f6f6f6;color:#2f3d4a}

/*******************
 Badge
******************/
.badge{font-weight:400}.badge-xs{font-size:9px}
.badge-sm,.badge-xs{-webkit-transform:translate(0,-2px);-ms-transform:translate(0,-2px);-o-transform:translate(0,-2px);transform:translate(0,-2px)}
.badge-success{background-color:#24d2b5}.badge-info{background-color:#20aee3}.badge-primary{background-color:#6772e5}
.badge-warning{background-color:#ff9041;color:#fff}.badge-danger{background-color:#ff5c6c}
.badge-purple{background-color:#7460ee}.badge-red{background-color:#fb3a3a}.badge-inverse{background-color:#2f3d4a}

/*******************
List-style-none
******************/
ul.list-style-none {margin: 0px;padding: 0px;}
ul.list-style-none li {list-style: none;}
ul.list-style-none li a {color: #67757c;padding: 8px 0px;display: block;text-decoration: none;}
ul.list-style-none li a:hover {color: #20aee3}

/*******************
dropdown-item
******************/
.dropdown-item {padding: 8px 1rem;color: #67757c;}

/*******************
Layouts
******************/
/*.card-no-border .card {border: 0px;border-radius: 0px;-webkit-box-shadow: none;box-shadow: none; }
.card-no-border .shadow-none {-webkit-box-shadow: none;box-shadow: none; }
.card-outline-danger,.card-outline-info,.card-outline-warning,.card-outline-success,.card-outline-primary {background: #ffffff; }
.card-fullscreen {position: fixed;top: 0px;left: 0px;width: 100%;height: 100%;z-index: 9999;overflow: auto;}*/

/*******************/
/*single column*/
/*******************/
.single-column .left-sidebar {display: none;}
.single-column .page-wrapper { margin-left: 0px;}
.fix-width {width: 100%;max-width: 1170px;margin: 0 auto;}
hr {border-top: 1px solid rgba(255, 255, 255, 0.39);}
.scroll_top {bottom: 12%;position: fixed;right: -51px;z-index: 210;opacity: 0.5;}


/*******************/
/*sticky quick box*/
/*******************/
.sticky-container{padding: 0px;z-index: 1; margin: 0px;position: fixed;right: -119px;top:130px;width: 200px;}
.sticky li{list-style-type: none;background-color: #333;color: #efefef;height: 43px;padding: 0px;margin: 0px 0px 1px 0px;-webkit-transition:all 0.25s ease-in-out;-moz-transition:all 0.25s ease-in-out;-o-transition:all 0.25s ease-in-out;transition:all 0.25s ease-in-out;cursor: pointer;}
.sticky li:hover{margin-left: -115px;-webkit-transform: translateX(-115px);-moz-transform: translateX(-115px);-o-transform: translateX(-115px);-ms-transform: translateX(-115px);transform:translateX(-115px);/*background-color: #8e44ad;*/}
.sticky li i{float: left;margin: 5px 7px;margin-right: 10px;font-size:32px;}
.sticky li p{padding: 0px;margin: 0px;text-transform: uppercase;line-height: 43px;}

/*******************/
/*Common Page*/
/**********************/
#main-wrapper,#page-wrapper,#businessChallenges,#successstories,#breadcrumb,#staticBanner,#contentSection,
#contentSection .mainContent,
#contentSection .sideBarContent,#partnerSection,#footer,#copyRight,
#servicesSection,#offerSection, #testimonialSection{position: relative;}
#page-wrapper {min-height:100%;height:100%;opacity:1;}

/*******************/
/*common css*/
/***********************/
#servicesSection .container-fluid, #partnerSection .container-fluid, #offerSection .container-fluid, #testimonialSection .container-fluid, #customerSection .container-fluid, #partnerSection .container-fluid {padding:40px 0px 20px 0px;}
#partnerSection h4,#customerSection h4 ,#servicesSection h4, #testimonialSection h4, #businessChallenges h2{padding-bottom: 5px;border-bottom: 1px solid #7E8B9B;font-size: 20px;font-weight: 600;width: 100%;line-height:36px;color:#212121;}
#successStories h4,#offerSection h4{text-align: center;font-size: 28px;font-weight:400;text-transform: capitalize;margin: 20px 0px;line-height: 33px;}
#successStories .container-fluid {padding:25px 0px;}
/*{text-align: center;font-size: 28px;font-weight:400;text-transform: capitalize;margin: 20px 0px;line-height: 33px;}*/

/*******************/
/*Breadcrumb*/
/*******************/
#breadcrumb .breadcrumb {padding:10px 15px;background-color:transparent;margin-bottom:5px;margin-top:15px;font-weight:400;}
#breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item::before {color:#d5a591;}
#breadcrumb .breadcrumb .breadcrumb-item a{color:#fc8c53;}
#breadcrumb .breadcrumb .breadcrumb-item a:hover{color:#f75908;}
#breadcrumb .breadcrumb .breadcrumb-item.active {color:#898989;font-weight: 500;}

/*******************/
/*Static Banner section*/
/*******************/
#staticBanner {background-color:#11254a;}
#staticBanner img{max-width:100%;}

/*******************/
/*Testimonial section*/
/*******************/
#testimonialSection #testimonialSectioncontent #testimonialSectionBlock{padding:0px 15px 30px 15px;text-align: center;}
#testimonialSection #testimonialSectioncontent i{font-size:44px;padding:20px 0px 20px 0px;}
#testimonialSection #testimonialSectioncontent #testimonialSectionBlock p{font-size:18px;padding:10px 0px 20px 0px;font-style: italic;font-weight:400}
#testimonialSection #testimonialSectioncontent #testimonialSectionBlock .media img{width: 60px;border-radius: 50%;}
#testimonialSection #testimonialSectioncontent #testimonialSectionBlock .media .media-body{text-align:left;margin-top:10px;}
#testimonialSection #testimonialSectioncontent #testimonialSectionBlock .media .media-body h5{font-size: 17px;font-weight: 600;margin-bottom: 4px;}

/*******************/
/*Content section*/
/*******************/
#contentSection {margin-top:10px;margin-bottom:20px;}

/************************/
/*Side Bar content common css*/
/************************/
/*#contentSection .sideBarContent #caseStudy,#contentSection .sideBarContent #quickLinks,#contentSection .sideBarContent #testimonialBar{margin-bottom:30px;position:relative;}*/
#contentSection .mainContent h4,#contentSection .sideBarContent #caseStudy h4,#contentSection .sideBarContent #quickLinks h4,#contentSection .sideBarContent #queryBlock h4,#contentSection .sideBarContent #testimonialBar h4{font-size:19px;font-weight:600;text-transform:uppercase;margin-bottom:15px;}


/*content page common heading*/
/*#contentSection .mainContent .aboutHeading{font-size: 1.55rem;font-weight: 300;line-height: 1.4em;margin-top: 25px;margin-bottom: 25px;}
#contentSection .mainContent .largeHeading{font-family:'M PLUS Rounded 1c',sans-serif;color: #414042;font-size:2.4rem;line-height: 1.4;margin: 0;padding-bottom: 36px;padding-top: 12px;letter-spacing: -0.2px;text-align: center;}*/
#contentSection .mainContent p{color: #676669;font-size:17px;line-height: 1.4;}
#contentSection .mainContent p strong, #contentSection .mainContent .aboutHeading strong{font-weight: 500;color:#ff6c3a}
#contentSection .mainContent p.pointTitle{font-size: 15px;font-weight: 500;}



/*******************
Wave Effects
*******************/
.waves-effect { position: relative;cursor: pointer;display: inline-block;overflow: hidden;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;-webkit-tap-highlight-color: transparent;vertical-align: middle;z-index: 1;will-change: opacity, transform;-webkit-transition: all 0.1s ease-out;-moz-transition: all 0.1s ease-out;-o-transition: all 0.1s ease-out;-ms-transition: all 0.1s ease-out;transition: all 0.1s ease-out; }
.waves-effect .waves-ripple {position: absolute;border-radius: 50%;width: 20px; height: 20px; margin-top: -10px; margin-left: -10px;opacity: 0;background: rgba(0, 0, 0, 0.2);-webkit-transition: all 0.7s ease-out;-moz-transition: all 0.7s ease-out;-o-transition: all 0.7s ease-out;-ms-transition: all 0.7s ease-out;transition: all 0.7s ease-out;-webkit-transition-property: -webkit-transform, opacity;-moz-transition-property: -moz-transform, opacity;-o-transition-property: -o-transform, opacity;-webkit-transition-property: opacity, -webkit-transform;transition-property: opacity, -webkit-transform;-o-transition-property: transform, opacity;transition-property: transform, opacity;transition-property: transform, opacity, -webkit-transform;-webkit-transform: scale(0);-moz-transform: scale(0);-ms-transform: scale(0);-o-transform: scale(0);transform: scale(0); pointer-events: none; }
.waves-effect.waves-light .waves-ripple {background-color: rgba(255, 255, 255, 0.45); }
.waves-effect.waves-red .waves-ripple {background-color: rgba(244, 67, 54, 0.7); }
.waves-effect.waves-yellow .waves-ripple {background-color: rgba(255, 235, 59, 0.7); }
.waves-effect.waves-orange .waves-ripple {background-color: rgba(255, 152, 0, 0.7); }
.waves-effect.waves-purple .waves-ripple {background-color: rgba(156, 39, 176, 0.7); }
.waves-effect.waves-green .waves-ripple {background-color: rgba(76, 175, 80, 0.7); }
.waves-effect.waves-teal .waves-ripple {background-color: rgba(0, 150, 136, 0.7); }
html body .waves-notransition {-webkit-transition: none;-moz-transition: none;-o-transition: none;-ms-transition: none;transition: none; }
.waves-circle {-webkit-transform: translateZ(0);-moz-transform: translateZ(0);-ms-transform: translateZ(0);-o-transform: translateZ(0);transform: translateZ(0);text-align: center;width: 2.5em;height: 2.5em;line-height: 2.5em;border-radius: 50%;-webkit-mask-image: none; }
.waves-input-wrapper {border-radius: 0.2em;vertical-align: bottom; }
.waves-input-wrapper .waves-button-input {position: relative;top: 0;left: 0;z-index: 1; }
.waves-block {display: block; }



@media screen and (max-width: 480px){
    #services .container>.row>div {
        display: block;
    }
}
@media screen and (max-width: 768px) {
    #domainSearchForm .col-sm-3.btn-padding {padding-left: 0px !important;}
    .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {max-height: 100% !important;}
    
} 
/*mediaqueries*/
@media (max-width: 319.98px) {     
    #contentSection .mainContent .tab-content .vidImg > iframe{width:100%;min-height:217px; }
    #breadcrumb .breadcrumb .breadcrumb-item{font-size:12px;}      
    #testimonialSection #testimonialSectioncontent #testimonialSectionBlock p{width:100%;} 
    #contentSection .sideBarContent #caseStudy,#contentSection .sideBarContent #quickLinks,#contentSection .sideBarContent #testimonialBar{margin:30px auto;position:relative;max-width:300px;}
}

/*// Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 320px ) and (max-width: 575.98px) {        
    #contentSection .mainContent .tab-content .vidImg > iframe{width:100%;min-height:225px; }
    #breadcrumb .breadcrumb .breadcrumb-item {font-size:12px;}    
    #testimonialSection #testimonialSectioncontent #testimonialSectionBlock p{width:100%;}    
    #contentSection .sideBarContent #caseStudy,#contentSection .sideBarContent #quickLinks,#contentSection .sideBarContent #testimonialBar{margin:30px auto;position:relative;max-width:300px;}
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {    
    .container{max-width: 100% !important;} 
    #contentSection .mainContent .tab-content .vidImg > iframe{width:100%;min-height:287px; }
    #breadcrumb .breadcrumb .breadcrumb-item {font-size:13px;}    
    #testimonialSection #testimonialSectioncontent #testimonialSectionBlock p{width:600px;}
    #contentSection .sideBarContent #caseStudy,#contentSection .sideBarContent #quickLinks,#contentSection .sideBarContent #testimonialBar{margin:30px auto;position:relative;max-width:300px;}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #contentSection .mainContent .tab-content .vidImg > iframe{width:77%;min-height:300px; }
    #breadcrumb .breadcrumb .breadcrumb-item{font-size:14px;}        
    #testimonialSection #testimonialSectioncontent #testimonialSectionBlock p{width:500px;}    
    #contentSection .sideBarContent #caseStudy,#contentSection .sideBarContent #quickLinks,#contentSection .sideBarContent #testimonialBar{margin:30px auto;position:relative;max-width:300px;}
}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {    
    #contentSection .mainContent .tab-content .vidImg > iframe{width:78%;min-height:300px;text-align: center }
    #breadcrumb .breadcrumb .breadcrumb-item {font-size:14px;}       
    #testimonialSection #testimonialSectioncontent #testimonialSectionBlock p{width:700px;}
#contentSection .sideBarContent #caseStudy,#contentSection .sideBarContent #quickLinks,#contentSection .sideBarContent #testimonialBar{margin:30px auto;position:relative;max-width:300px;}    
}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {     
    #contentSection .mainContent .tab-content .vidImg > iframe{width:65%;min-height:300px; }
    #breadcrumb .breadcrumb .breadcrumb-item{font-size:14px;}        
    #testimonialSection #testimonialSectioncontent #testimonialSectionBlock p{width:700px;}
    #contentSection .sideBarContent #caseStudy,#contentSection .sideBarContent #quickLinks,#contentSection .sideBarContent #testimonialBar{margin:30px auto;position:relative;max-width:300px;}
}


@-webkit-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes cd-enter-right {
    0% {
        opacity: 0;
        -moz-transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}
@keyframes cd-enter-right {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}
@-webkit-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
    }
}
@-moz-keyframes cd-enter-left {
    0% {
        opacity: 0;
        -moz-transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0%);
    }
}
@keyframes cd-enter-left {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}



@font-face {
    font-family: 'icomoon';
    src:  url('fonts/icomoon.eot?njw18z');
    src:  url('fonts/icomoon.eot?njw18z#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?njw18z') format('truetype'),
        url('fonts/icomoon.woff?njw18z') format('woff'),
        url('fonts/icomoon.svg?njw18z#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-assetsmanagement-1:before {
    content: "\e900";
}
.icon-assetsmanagement-2:before {
    content: "\e901";
}
.icon-authorizedreseller:before {
    content: "\e902";
}
.icon-backupdr:before {
    content: "\e903";
}
.icon-cloudconsulting:before {
    content: "\e904";
}
.icon-cloudmigration:before {
    content: "\e905";
}
.icon-cloudsecurity:before {
    content: "\e906";
}
.icon-cloudsolution:before {
    content: "\e907";
}
.icon-consulting:before {
    content: "\e908";
}
.icon-deployment:before {
    content: "\e909";
}
.icon-development:before {
    content: "\e90a";
}
.icon-encryption:before {
    content: "\e90b";
}
.icon-fms-1:before {
    content: "\e90c";
}
.icon-fms-2:before {
    content: "\e90d";
}
.icon-hardware:before {
    content: "\e90e";
}
.icon-hardwareconsolidation:before {
    content: "\e90f";
}
.icon-ITmanagement:before {
    content: "\e910";
}
.icon-management:before {
    content: "\e911";
}
.icon-manageservices-1:before {
    content: "\e912";
}
.icon-manageservices-2:before {
    content: "\e913";
}
.icon-mdm:before {
    content: "\e914";
}
.icon-networking:before {
    content: "\e915";
}
.icon-networksecurity:before {
    content: "\e916";
}
.icon-remotesupport:before {
    content: "\e917";
}
.icon-reseller:before {
    content: "\e918";
}
.icon-security:before {
    content: "\e919";
}
.icon-serverinfrastructure:before {
    content: "\e91a";
}
.icon-serversecurity:before {
    content: "\e91b";
}
.icon-software:before {
    content: "\e91c";
}
.icon-systemvirtualization:before {
    content: "\e91d";
}
.icon-training:before {
    content: "\e91e";
}



/*#features {padding: 100px 0 80px;}
#features .section-title h2 {position: relative;margin-top: 0;margin-bottom: 80px;font-size: 24px;font-weight: 700;line-height: 28px;text-align: center;text-transform: uppercase;}
#features .section-title h2:before {content: " ";position: absolute;bottom: -15px;left: 50%;width: 50px;height: 2px;background-color: #FF6C3A;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}
#features .feature-item {padding: 20px;-webkit-transition: box-shadow .25s;transition: box-shadow .25s;}
#features .hc-margin {margin: 0 auto;}
#features .feature-item:hover .feature-item-icon {border-radius: 50%;background-color: #FF6C3A;}
#features .feature-item-icon {display: table;width: 70px;height: 70px;color: #fff;background-color: #2e3138;font-size: 36px;line-height: 40px;text-align: center;-webkit-transition: border-radius .25s;transition: border-radius .25s;}
#features .feature-item-icon i.fa {display: table-cell;vertical-align: middle;}
#features .feature-item-content {margin-top: 25px;}
#features .feature-item-content h4 {font-weight: 700;text-transform: uppercase;margin: 15px 0;}
#features .feature-item-content p {margin-bottom: 0;}
#features .feature-item-content a.btn {margin-top: 20px;padding: 10px 15px;font-size: 12px;}
#features a.btn-custom-reverse {background-color: #FF6C3A;border-radius: 0;transition: background-color .25s;color: #fff;}*/

/*tree structure in sidebar*/
/*.list-group{padding:5px 10px;}
.list-group .list-group-header {font-weight:600;text-transform: uppercase;cursor: pointer}
.list-group .list-group-header::before {content: "> ";font-weight: bold;font-size:14px}
.list-group .list-group-header.active::before {content: "< ";}
.list-group .list-group-header.active {background-color:transparent;}
.list-group .list-group-item{color:#e57504;font-size:14px;margin-bottom:1px;padding: 3px 0px;}
.list-group-item {position: relative;display: block;margin-bottom: -1px;background-color: transparent;border: none;}
.list-group-item .list-group.tree {display: none;position: relative;margin-bottom: -1px; background-color: transparent;border: none;margin-left: 5px;padding: 3px 5px;}
.list-group-item .list-group.tree.active {display: block;}
.list-group.tree .list-group-item{color:#11254a;font-size:14px;margin-bottom:1px;padding: 3px 10px;font-weight:400}
.list-group.tree .list-group-item a{text-transform:capitalize;color: #898989;}
.list-group.tree .list-group-item a:hover{color: #e57504;}*/
