
<!DOCTYPE html>
<html lang="en" class="no-js" data-ng-app="adminGitpl" >

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--<meta name="robata" content="noindex">
        <meta name="googlebot" content="noindex">-->
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="" />
        <meta name="google-site-verification" content="" />

        <title>Employees | GITPL </title>
        <link rel='shortcut icon' href='../assets/images/gitpl-favicon.png' /> 
        <!--<link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
            <link rel="icon" type="image/png" href="favicon-96x96.png" sizes="96x96">
            <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
            <link rel="shortcut icon" href="favicon.ico">-->

        <!--css-->
        <link href="../assets/node_modules/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>        
        <!--<link href="../assets/node_modules/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />-->
        <link href="../admin-assets-custom/css/style.css" rel="stylesheet"/>        
        <link href="../admin-assets-custom/css/pages/dashboard1.css" rel="stylesheet"/>    
        <link href="../admin-assets-custom/css/colors/default-dark.css" rel="stylesheet"/>  

        <!-- Footable CSS -->
        <link href="../assets/node_modules/footable/css/footable.core.css" rel="stylesheet">



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>-->


    </head>
    <body class="fix-header fix-sidebar card-no-border" >
        <div class="preloader">
            <div class="loader">
                <div class="loader__figure"></div>
                <!--<p class="loader__label">GITPL</p>-->
            </div>
        </div>
        <div id="main-wrapper">
            <header class="topbar" data-ng-controller="headerController">
                <nav class="navbar top-navbar navbar-expand-md navbar-light">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="admin">                            
                            <img src="../assets/images/GITPLlogo.png" alt="homepage" width="25" class="dark-logo" />

                            <span class="lead" style="font-weight:600;margin-top:20px;">
                                Genie InfoTech
                            </span> 
                        </a>
                    </div>

                    <div class="navbar-collapse">

                        <ul class="navbar-nav mr-auto">
                            <!-- This is  -->
                            <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up waves-effect waves-dark" href="javascript:void(0)"><i class="sl-icon-menu"></i></a> </li>
                            <li class="nav-item"> <a class="nav-link sidebartoggler hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="sl-icon-menu"></i></a> </li>

                            <li class="nav-item hidden-xs-down search-box"> <a class="nav-link hidden-sm-down waves-effect waves-dark" href="javascript:void(0)"><i class="icon-Magnifi-Glass2"></i></a>
                                <form class="app-search">
                                    <input type="text" class="form-control" placeholder="Search & enter"> 
                                    <a class="srh-btn"><i class="ti-close"></i></a> 
                                </form>
                            </li>
                        </ul>

                        <ul class="navbar-nav my-lg-0">

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-Bell"></i>
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right mailbox animated bounceInDown">
                                    <ul>
                                        <li>
                                            <div class="drop-title">Notifications</div>
                                        </li>
                                        <li>
                                            <div class="message-center">
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Lunch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-Mail"></i>
                                    <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                                </a>
                                <div class="dropdown-menu mailbox dropdown-menu-right animated bounceInDown" aria-labelledby="2">
                                    <ul>
                                        <li>
                                            <div class="drop-title">You have 4 new messages</div>
                                        </li>
                                        <li>
                                            <div class="message-center">
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="..//assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="../assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="../assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="user-img"> <img src="../assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                                    <div class="mail-contnet">
                                                        <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <a class="nav-link text-center" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                        </li>
                                    </ul>
                                </div>
                            </li>                            

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                                    <i class="flag-icon flag-icon-in"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-right animated bounceInDown"> 
                                    <a class="dropdown-item" href="#">
                                        <i class="flag-icon flag-icon-in"></i> India
                                    </a> 
                                    <a class="dropdown-item" href="#">
                                        <i class="flag-icon flag-icon-fr"></i> French
                                    </a> 
                                    <a class="dropdown-item" href="#">
                                        <i class="flag-icon flag-icon-cn"></i> China
                                    </a> 
                                    <a class="dropdown-item" href="#">
                                        <i class="flag-icon flag-icon-de"></i> Dutch
                                    </a> 
                                </div>
                            </li>

                            <li class="nav-item dropdown u-pro">
                                <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="../assets/images/users/1.jpg" alt="user" class="" /> <span class="hidden-md-down">Denish Patel &nbsp;<i class="fa fa-angle-down"></i></span> </a>
                                <div class="dropdown-menu dropdown-menu-right animated flipInY">
                                    <ul class="dropdown-user">
                                        <li>
                                            <div class="dw-user-box">
                                                <div class="u-img"><img src="../assets/images/users/1.jpg" alt="user"></div>
                                                <div class="u-text">
                                                    <h4>{{userDetails.username}}</h4>
                                                    <p class="text-muted">{{userDetails.EmailID}}</p>
                                                    <a href="../admin/profile" class="btn btn-rounded btn-danger btn-sm waves-effect waves-dark">View Profile</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="../admin/profile"><i class="ti-user"></i> My Profile</a></li>
                                        <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                                        <li><a href="../admin/inbox"><i class="ti-email"></i> Inbox</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                                        <li role="separator" class="divider"></li>
                                        <li><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </header>     
            <aside class="left-sidebar" data-ng-controller="asideController">
                <div class="scroll-sidebar">
                    <nav class="sidebar-nav">
                        <ul id="sidebarnav">
                            <li> 
                                <a class="waves-effect waves-light" href="../admin/dashboard.html" aria-expanded="false">
                                    <i class="icon-Car-Wheel"></i><span class="hide-menu">Dashboard</span>
                                </a>
                            </li>
                            <li> 
                                <a class="waves-effect waves-light" href="../admin/seo.html" aria-expanded="false">
                                    <i class="icon-Car-Wheel"></i><span class="hide-menu">SEO</span>
                                </a>
                            </li>
                            <li> 
                                <a class="waves-effect waves-light" href="../admin/employees.html" aria-expanded="false">
                                    <i class="icon-Car-Wheel"></i><span class="hide-menu">Employees</span>
                                </a>
                            </li>
                            <li> 
                                <a class="waves-effect waves-light" href="../admin/testimonial.html" aria-expanded="false">
                                    <i class="icon-Car-Wheel"></i><span class="hide-menu">Testimonials</span>
                                </a>
                            </li>
                            <li> 
                                <a class="waves-effect waves-light" href="../admin/careers.html" aria-expanded="false">
                                    <i class="icon-Car-Wheel"></i><span class="hide-menu">Job Posting</span>
                                </a>
                            </li>
                            <li> 
                                <a class="waves-effect waves-light" href="../admin/feedback.html" aria-expanded="false">
                                    <i class="icon-Car-Wheel"></i><span class="hide-menu">Feedback</span>
                                </a>
                            </li>
                            <!--                            <li><a class="has-arrow waves-effect waves-light " href="#" aria-expanded="false">
                                                                <i class="icon-Double-Circle"></i><span class="hide-menu">GITPL</span></a>
                                                            <ul aria-expanded="false" class="collapse">                                    
                                                               
                                                                <li><a href="../admin/gallery.html" class="waves-effect waves-light">Gallery</a></li>
                                                                <li><a href="../admin/news.html" class="waves-effect waves-light">Latest News</a></li>
                                                                <li><a href="../admin/feedback.html" class="waves-effect waves-light">Feedback</a></li>
                                                            </ul>
                                                        </li>  -->
                            <!--                            <li><a class="has-arrow waves-effect waves-light" href="#" aria-expanded="false">
                                                                <i class="icon-Double-Circle"></i><span class="hide-menu">Outlook</span></a>
                                                            <ul aria-expanded="false" class="collapse">                                   
                                                                <li><a href="../admin/compose.html" class="waves-effect waves-light">Compose</a></li>
                                                                <li><a href="../admin/inbox.html" class="waves-effect waves-light">Inbox</a></li>
                                                                <li><a href="../admin/sent.html" class="waves-effect waves-light">Sent</a></li>
                                                                <li><a href="draft" class="waves-effect waves-light">Draft</a></li>
                                                            </ul>
                                                        </li>-->
                            <!--                            <li><a class="has-arrow waves-effect waves-light" href="#" aria-expanded="false">
                                                                <i class="icon-Double-Circle"></i><span class="hide-menu">Invoice</span></a>
                                                            <ul aria-expanded="false" class="collapse">
                                                                <li><a href="../admin/invoice.html" class="waves-effect waves-light">Purchase</a></li>
                                                                <li><a href="../admin/invoice.html" class="waves-effect waves-light">Sales</a></li>
                                                            </ul>
                                                        </li>-->
                        </ul>
                    </nav>                    
                </div>                
            </aside>




            <div class="page-wrapper">                

                <div class="container-fluid" data-ng-controller="employeelistController">
                    <div class="row page-titles">
                        <div class="col-md-5 align-self-center">
                            <h3 class="text-themecolor">Employees</h3>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="home">Dashboard</a></li>
                                <li class="breadcrumb-item active">Employees</li>
                            </ol>
                        </div>
                        <div class="col-md-7 align-self-center text-right">
                            <button type="button" class="btn btn-info waves-effect waves-light"><i class="fa fa-plus-circle"></i> Create New</button>
                        </div>
                    </div>
                    <!--{{employeeList|json}}-->
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <!-- .left-right-aside-column-->
                                <div class="contact-page-aside">
                                    <!-- .left-aside-column-->
                                    <div class="left-aside bg-light-part">
                                        <ul class="list-style-none">
                                            <li class="box-label"><a href="javascript:void(0)">All Contacts <span>{{count}}</span></a></li>
                                            <li class="divider"></li>
                                            <li data-ng-repeat="r in employeeList | unique :'role'"><a href="javascript:void(0)"  class="waves-effect waves-dark text-capitalize">{{r.role}} <span>{{getCount(r.role)}}</span></a></li>
                                            <!--<li><a href="javascript:void(0)" class="waves-effect waves-dark" >Sales <span>103</span></a></li>
                                            <li><a href="javascript:void(0)" class="waves-effect waves-dark">Developer & Tester<span>19</span></a></li>
                                            <li><a href="javascript:void(0)" class="waves-effect waves-dark">Security & Networking <span>623</span></a></li>
                                            <li><a href="javascript:void(0)" class="waves-effect waves-dark">Support Team<span>53</span></a></li>
                                            <li><a href="javascript:void(0)" class="waves-effect waves-dark">Management<span>53</span></a></li>
                                            <li><a href="javascript:void(0)" class="waves-effect waves-dark">Trainee<span>53</span></a></li>
                                            <li><a href="javascript:void(0)" class="waves-effect waves-dark">CEO<span>53</span></a></li>
                                            <li><a href="javascript:void(0)" class="waves-effect waves-dark">Director<span>53</span></a></li>-->

                                            <li class="box-label m-t-10"><a href="javascript:void(0)" data-toggle="modal" data-target="#myModal" class="btn btn-info text-white waves-effect waves-light">+ Create New Label</a></li>

                                            <div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h4 class="modal-title" id="myModalLabel">Add Label</h4>
                                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <from class="form-horizontal">
                                                                <div class="form-group">
                                                                    <label class="col-md-12">Name of Label</label>
                                                                    <div class="col-md-12">
                                                                        <input type="text" class="form-control" placeholder="type name"> </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-md-12">Select Number of people</label>
                                                                    <div class="col-md-12">
                                                                        <select class="form-control">
                                                                            <option>All Contacts</option>
                                                                            <option>10</option>
                                                                            <option>20</option>
                                                                            <option>30</option>
                                                                            <option>40</option>
                                                                            <option>Customer</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                            </from>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-info waves-effect waves-dark" data-dismiss="modal">Save</button>
                                                            <button type="button" class="btn btn-default waves-effect waves-dark" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                    <!-- /.modal-content -->
                                                </div>
                                                <!-- /.modal-dialog -->
                                            </div>
                                        </ul>
                                    </div>
                                    <!-- /.left-aside-column-->
                                    <div class="right-aside ">
                                        <div class="right-page-header">
                                            <div class="d-flex">
                                                <div class="align-self-center">
                                                    <h4 class="card-title m-t-10">Contacts / Employee List </h4></div>
                                                <div class="ml-auto">
                                                    <input type="text" id="demo-input-search2" data-ng-model="demoinputsearch2" placeholder="search contacts" class="form-control"> 
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table id="demo-foo-addrow" class="table m-t-30 table-hover no-wrap contact-list" data-page-size="7">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Name</th>
                                                        <th>Email</th>
                                                        <th>Phone</th>
                                                        <th>Role</th>
                                                        <th>Age</th>
                                                        <th>Joining date</th>
                                                        <th>Salary</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <!--{{employeeList|json}}-->
                                                    <tr data-ng-repeat="a in employeeList | filter: demoinputsearch2">
                                                        <td>{{a.id}}</td>
                                                        <td>
                                                            <a href="../admin/profile">
                                                                <img src="{{a.image}}" alt="user" class="img-circle" /> {{a.name}}
                                                            </a>
                                                        </td>
                                                        <td>{{a.email}}</td>
                                                        <td>{{a.phone}}</td>
                                                        <td data-ng-switch="a.role">                                            
                                                            <span data-ng-switch-when="Designer"><span class="label label-primary text-uppercase">{{a.role}}</span></span> 
                                                            <span data-ng-switch-when="Sales"><span class="label label-info text-uppercase">{{a.role}}</span></span> 
                                                            <span data-ng-switch-when="developer"><span class="label label-danger text-uppercase">{{a.role}}</span></span> 
                                                            <span data-ng-switch-when="Accountant"><span class="label label-purple text-uppercase">{{a.role}}</span></span> 
                                                            <span data-ng-switch-when="Manager"><span class="label label-megna text-uppercase">{{a.role}}</span></span> 
                                                            <span data-ng-switch-when="CEO"><span class="label label-inverse text-uppercase">{{a.role}}</span></span> 
                                                            <span data-ng-switch-when="Director"><span class="label label-themecolor text-uppercase">{{a.role}}</span></span> 
                                                        </td>
                                                        <td>{{a.age}}</td>
                                                        <td>{{a.Date}}</td>
                                                        <td>{{a.Salary}}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                                <!--<tbody>
                                                    <tr >
                                                        <td>1</td>
                                                        <td>
                                                            <a href="../admin/profile"><img src="<?php echo base_url() ?>assets/images/users/1.jpg" alt="user" class="img-circle" /> Genelia Deshmukh</a>
                                                        </td>
                                                        <td>genelia@gmail.com</td>
                                                        <td>+123 456 789</td>
                                                        <td><span class="label label-danger">Designer</span> </td>
                                                        <td>23</td>
                                                        <td>12-10-2014</td>
                                                        <td>$1200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>2</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/2.jpg" alt="user" class="img-circle" /> Arijit Singh</a>
                                                        </td>
                                                        <td>arijit@gmail.com</td>
                                                        <td>+234 456 789</td>
                                                        <td><span class="label label-info">Developer</span> </td>
                                                        <td>26</td>
                                                        <td>10-09-2014</td>
                                                        <td>$1800</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>3</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/3.jpg" alt="user" class="img-circle" /> Govinda jalan</a>
                                                        </td>
                                                        <td>govinda@gmail.com</td>
                                                        <td>+345 456 789</td>
                                                        <td><span class="label label-success">Accountant</span></td>
                                                        <td>28</td>
                                                        <td>1-10-2013</td>
                                                        <td>$2200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>4</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/4.jpg" alt="user" class="img-circle" /> Hritik Roshan</a>
                                                        </td>
                                                        <td>hritik@gmail.com</td>
                                                        <td>+456 456 789</td>
                                                        <td><span class="label label-inverse">HR</span></td>
                                                        <td>25</td>
                                                        <td>2-10-2017</td>
                                                        <td>$200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>5</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/5.jpg" alt="user" class="img-circle" /> John Abraham</a>
                                                        </td>
                                                        <td>john@gmail.com</td>
                                                        <td>+567 456 789</td>
                                                        <td><span class="label label-danger">Manager</span></td>
                                                        <td>23</td>
                                                        <td>10-9-2015</td>
                                                        <td>$1200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>6</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/6.jpg" alt="user" class="img-circle" /> Pawandeep kumar</a>
                                                        </td>
                                                        <td>pawandeep@gmail.com</td>
                                                        <td>+678 456 789</td>
                                                        <td><span class="label label-warning">Chairman</span></td>
                                                        <td>29</td>
                                                        <td>10-5-2013</td>
                                                        <td>$1500</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>7</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/7.jpg" alt="user" class="img-circle" /> Ritesh Deshmukh</a>
                                                        </td>
                                                        <td>ritesh@gmail.com</td>
                                                        <td>+123 456 789</td>
                                                        <td><span class="label label-danger">Designer</span></td>
                                                        <td>35</td>
                                                        <td>05-10-2012</td>
                                                        <td>$3200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>8</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/8.jpg" alt="user" class="img-circle" /> Salman Khan</a>
                                                        </td>
                                                        <td>salman@gmail.com</td>
                                                        <td>+234 456 789</td>
                                                        <td><span class="label label-info">Developer</span></td>
                                                        <td>27</td>
                                                        <td>11-10-2014</td>
                                                        <td>$1800</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>9</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/1.jpg" alt="user" class="img-circle" /> Govinda jalan</a>
                                                        </td>
                                                        <td>govinda@gmail.com</td>
                                                        <td>+345 456 789</td>
                                                        <td><span class="label label-success">Accountant</span></td>
                                                        <td>18</td>
                                                        <td>12-5-2017</td>
                                                        <td>$100</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>10</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/2.jpg" alt="user" class="img-circle" /> Sonu Nigam</a>
                                                        </td>
                                                        <td>sonu@gmail.com</td>
                                                        <td>+456 456 789</td>
                                                        <td><span class="label label-inverse">HR</span></td>
                                                        <td>36</td>
                                                        <td>18-5-2009</td>
                                                        <td>$4200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>11</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/3.jpg" alt="user" class="img-circle" /> Varun Dhawan</a>
                                                        </td>
                                                        <td>varun@gmail.com</td>
                                                        <td>+567 456 789</td>
                                                        <td><span class="label label-danger">Manager</span></td>
                                                        <td>43</td>
                                                        <td>12-10-2010</td>
                                                        <td>$5200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>12</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/4.jpg" alt="user" class="img-circle" /> Genelia Deshmukh</a>
                                                        </td>
                                                        <td>genelia@gmail.com</td>
                                                        <td>+123 456 789</td>
                                                        <td><span class="label label-danger">Designer</span> </td>
                                                        <td>23</td>
                                                        <td>12-10-2014</td>
                                                        <td>$1200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>13</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/5.jpg" alt="user" class="img-circle" /> Arijit Singh</a>
                                                        </td>
                                                        <td>arijit@gmail.com</td>
                                                        <td>+234 456 789</td>
                                                        <td><span class="label label-info">Developer</span> </td>
                                                        <td>26</td>
                                                        <td>10-09-2014</td>
                                                        <td>$1800</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>14</td>
                                                        <td>
                                                            <a href="app-contact-detail.html"><img src="<?php echo base_url() ?>assets/images/users/6.jpg" alt="user" class="img-circle" /> Govinda jalan</a>
                                                        </td>
                                                        <td>govinda@gmail.com</td>
                                                        <td>+345 456 789</td>
                                                        <td><span class="label label-success">Accountant</span></td>
                                                        <td>28</td>
                                                        <td>1-10-2013</td>
                                                        <td>$2200</td>
                                                        <td>
                                                            <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn waves-effect waves-dark" data-toggle="tooltip" data-original-title="Delete"><i class="ti-close" aria-hidden="true"></i></button>
                                                        </td>
                                                    </tr>
                                                </tbody>-->
                                                <tfoot>
                                                    <tr>
                                                        <td colspan="2">
                                                            <button type="button" class="btn btn-info btn-rounded waves-effect waves-light" data-toggle="modal" data-target="#add-contact">Add New Contact</button>
                                                        </td>
                                                <div id="add-contact" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h4 class="modal-title" id="myModalLabel">Add New Contact</h4>
                                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <from class="form-horizontal form-material">
                                                                    <div class="form-group">
                                                                        <div class="col-md-12 m-b-20">
                                                                            <input type="text" class="form-control" placeholder="Type name"> 
                                                                        </div>
                                                                        <div class="col-md-12 m-b-20">
                                                                            <input type="text" class="form-control" placeholder="Email"> 
                                                                        </div>
                                                                        <div class="col-md-12 m-b-20">
                                                                            <input type="text" class="form-control" placeholder="Phone"> 
                                                                        </div>
                                                                        <div class="col-md-12 m-b-20">
                                                                            <input type="text" class="form-control" placeholder="Designation"> 
                                                                        </div>
                                                                        <div class="col-md-12 m-b-20">
                                                                            <input type="text" class="form-control" placeholder="Age"> 
                                                                        </div>
                                                                        <div class="col-md-12 m-b-20">
                                                                            <input type="text" class="form-control" placeholder="Date of joining"> 
                                                                        </div>
                                                                        <div class="col-md-12 m-b-20">
                                                                            <input type="text" class="form-control" placeholder="Salary"> 
                                                                        </div>
                                                                        <div class="col-md-12 m-b-20">
                                                                            <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light">
                                                                                <span><i class="ion-upload m-r-5"></i>Upload Contact Image</span>
                                                                                <input type="file" class="upload"> 
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </from>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-info waves-effect waves-light" data-dismiss="modal">Save</button>
                                                                <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                        <!-- /.modal-content -->
                                                    </div>
                                                    <!-- /.modal-dialog -->
                                                </div>
                                                <td colspan="7">
                                                    <div class="text-right">
                                                        <ul class="pagination"> </ul>
                                                    </div>
                                                </td>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                        <!-- .left-aside-column-->
                                    </div>
                                    <!-- /.left-right-aside-column-->
                                </div>
                            </div>
                        </div>
                    </div>

                </div>




                <footer class="footer"> © 2018 Genie InfoTech Private Limited </footer>
            </div>
            <!--js-->        
            <script src="../assets/node_modules/jquery/jquery.min.js"></script>
            <script src="../assets/node_modules/bootstrap/js/popper.min.js"></script>
            <script src="../assets/node_modules/bootstrap/js/bootstrap.min.js"></script> 
            <script src="../assets/node_modules/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js "></script>        
            <script src="../admin-assets-custom/js/waves.js"></script>       
            <script src="../admin-assets-custom/js/sidebarmenu.js"></script>
            <script src="../admin-assets-custom/js/custom.min.js"></script> 
            <!-- Footable -->
            <script src="../assets/node_modules/footable/js/footable.all.min.js"></script>
            <!--FooTable init-->
            <script src="../admin-assets-custom/js/footable-init.js"></script>
            <script src="../admin-assets-custom/js/angular.min.js"></script>
            <script src="../admin-assets-custom/js/dirPagination.js"></script>
            <script src="../admin-assets-custom/js/angular-controller.js"></script>
        </div>
    </body>
</html>